<%- include("partials/header")%>


<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Book-Ticket</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/movies"></a>movies</li>
        <li>select slot</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Details Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="">


        <article class="blog-details">

          <div class="post-img">
            <img src="<%= data[0].Img %>" alt="" class="img-fluid">
          </div>

          <h2 class="title"><%= data[0].MovieName %></h2>

          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center"><i class="fa-solid fa-language"></i> <a
                  href="blog-details.html"><%= data[0].Language %></a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time
                    datetime="2020-01-01"><%= data[0].Duration %></time></a></li>
              <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12
                  Comments</a></li>
            </ul>
          </div><!-- End meta top -->

      </div>

      <div class="">

        <div class="sidebar">


          <form method="post" action="/book-ticket">
            <div class="sidebar-item categories">
              <h3 class="sidebar-title">Date</h3>
              <ul class="mt-3">
                <input type="radio" name="date" value="29 Oct" required><label id="today-date"> 29 Oct Fri</label>
                <input type="radio" name="date" value="30 Oct"><label id="tom-date">30 Oct </label>
                <input type="radio" name="date" value="31 Oct"><label id="dat-date">31 Oct </label>
              </ul>
            </div><!-- End sidebar categories-->

            <div class="sidebar-item recent-posts">
              <h3 class="sidebar-title">Select Theater</h3>

              <div class="mt-3">

                <% data.forEach(function(element){ %>
                <hr>
                <div class="post-item">
                  <img src="/assets/img/blog/blog-recent-5.jpg" alt="">
                  <div>
                    <div class="sidebar-item tags">
                      <h3 class="sidebar-title"><%= element.TheaterName %></h3>
                      <ul class="mt-3">
                        <li><button type="submit" name="SlotNo"
                            value="<%= element.SlotNo %>"><%= element.Time %></button></li>
                        <!-- <li><button type="submit" name="time" value="9:00 am">9:00 am</button></li>
                          <li><button type="submit" name="time" value="9:00 am">9:00 am</button></li>
                          <li><button type="submit" name="time" value="9:00 am">9:00 am</button></li>
                          <li><button type="submit" name="time" value="9:00 am">9:00 am</button></li> -->
                      </ul>
                    </div><!-- End sidebar tags-->

                  </div>
                </div><!-- End recent post item-->

                <%});%>
              </div>
            </div><!-- End sidebar recent posts-->

          </form>

        </div><!-- End Blog Sidebar -->

      </div>


    </div>
  </section><!-- End Blog Details Section -->

</main><!-- End #main -->

<%- include("partials/footer")%>