<%- include("partials/header")%>

<!-- ======= Movie Section ======= -->
<section id="hero" class="hero">

	<div class="info d-flex align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 data-aos="fade-down">Welcome to <span><br>Cinema Ghar</span></h2>
					<p data-aos="fade-up">Endless Entertainment, Anytime, Anywhere.</p>
					<a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get
						Started</a>
				</div>
			</div>
		</div>
	</div>

	<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

		<div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/hero-carousel-1.jpg)">
		</div>
		<div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-2.jpg)"></div>
		<div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg)"></div>
		<div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
		<div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-5.jpg)"></div>

		<a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
		</a>

		<a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
		</a>

	</div>

</section><!-- End Hero Section -->

<main id="main">


	<!-- ======= Movie Section ======= -->
	<section id="recent-blog-posts" class="recent-blog-posts">
		<div class="container" data-aos="fade-up"">

    
    
  <div class=" section-header">
			<h2>Pick Your Show</h2>
			<p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p>
		</div>

		<div class="row gy-5">
			<% data.forEach(function(element){ %>
			<div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="post-item position-relative h-100">

					<div class="post-img position-relative overflow-hidden">
						<img src="<%= element.Img %>" class="img-fluid" alt="">
						<span class="post-date"><i class="fa-solid fa-star"></i>4/5</span>
					</div>

					<div class="post-content d-flex flex-column">

						<h3 class="post-title"><%= element.MovieName %></h3>

						<div class="meta d-flex align-items-center">
							<div class="d-flex align-items-center">
								<i class="fa-solid fa-language"></i> <span class="ps-2"><%= element.Language %></span>
							</div>
							<span class="px-3 text-black-50">/</span>
							<div class="d-flex align-items-center">
								<i class="fa-solid fa-stopwatch"></i> <span class="ps-2"><%= element.Duration %></span>
							</div>
						</div>

						<hr>

						<a href="blog-details.html" class="readmore stretched-link">
							<span>Book Now</span><i class="bi bi-arrow-right"></i></a>

					</div>

				</div>
			</div><!-- End post item -->
			<%});%>
		</div>

		</div>
	</section>
	<!-- End Featured Movie Section -->

	<%- include("partials/footer")%>