<%- include("partials/header")%>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Movies</h2>
            <ol>
                <li><a href="/" id="forhome-m">Home</a></li>
                <li>Movies</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Movies Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 posts-list">

                <% data.forEach(function(element){ %>

                <div class="col-xl-4 col-md-6">
                    <div class="post-item position-relative h-100">

                        <div class="post-img position-relative overflow-hidden">
                            <img src="<%= element.Img %>" class="img-fluid" alt="">
                            <span class="post-date"><i class="fa-solid fa-star"></i>4/5</span>
                        </div>

                        <div class="post-content d-flex flex-column">

                            <h3 class="post-title"><%= element.MovieName %></h3>

                            <div class="meta d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-language"></i> <span
                                        class="ps-2"><%= element.Language %></span>
                                </div>
                                <span class="px-3 text-black-50">/</span>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-stopwatch"></i> <span
                                        class="ps-2"><%= element.Duration %></span>
                                </div>
                            </div>

                            <p>
                                <%= element.Description %>
                            </p>

                            <hr>

                            <a href="/book-ticket/<%= element.MovieNo %>" class="readmore stretched-link" id="forbook-m">
                                <span>Book Now</span><i class="bi bi-arrow-right"></i></a>

                        </div>

                    </div>
                </div><!-- End post list item -->

                <%});%>


            </div><!-- End Movies list -->

            <div class="blog-pagination">
                <ul class="justify-content-center">
                    <li><a href="#" id="forpagin-m">1</a></li>
                    <li class="active"><a href="#" id="forpagin-m">2</a></li>
                    <li><a href="#" id="forpagin-m">3</a></li>
                </ul>
            </div><!-- End blog pagination -->

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->


<%- include("partials/footer")%>